@import "tailwindcss";

@theme {
  --color-accent: #FF0052;      /* main brand red */
  --color-accent-hover: #b91c1c; /* darker red for hover */
  --color-bg: #000000;           /* page background */
  --color-panel: #0d0d0d;        /* section background */
  --color-card: #161616;         /* card background */
  --color-muted: #9ca3af;        /* muted text */
}

body {
  font-family: "Inter", sans-serif;
}

html{
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Space Grotesk", sans-serif;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 20s linear infinite;
}

 

@keyframes roleSlide {
  0%, 20% { transform: translateY(0%); }
  25%, 45% { transform: translateY(-25%); }
  50%, 70% { transform: translateY(-50%); }
  75%, 95% { transform: translateY(-75%); }
  100% { transform: translateY(-100%); }
}

.animate-role-slide {
  animation: roleSlide  15s ease-in-out infinite;
}

.blob-mask {
  border-radius: 62% 38% 55% 45% / 55% 45% 55% 45%;
}

@keyframes blobPulse {
  0%, 100% { border-radius: 62% 38% 55% 45% / 55% 45% 55% 45%; }
  50% { border-radius: 45% 55% 40% 60% / 50% 55% 45% 50%; }
}

.animate-blob {
  animation: blobPulse 8s ease-in-out infinite;
} 


 
@keyframes glitch {
  0% { text-shadow: 2px 0 var(--accent), -2px 0 #0ff; transform: translateX(0); }
  20% { text-shadow: -2px 0 var(--accent), 2px 0 #0ff; transform: translateX(-1px); }
  40% { text-shadow: 1px 0 var(--accent), -1px 0 #0ff; transform: translateX(1px); }
  60% { text-shadow: -1px 0 var(--accent), 1px 0 #0ff; transform: translateX(-1px); }
  100% { text-shadow: none; transform: translateX(0); }
}
.role-glitch {
  animation: glitch 0.3s ease-out;
}

 
@keyframes drift1 {
  0%, 100% { top: -8rem; left: -8rem; }
  50% { top: -4rem; left: 2rem; }
}

@keyframes drift2 {
  0%, 100% { bottom: 0; right: 0; }
  50% { bottom: 3rem; right: 5rem; }
}

.animate-drift1 {
  animation: drift1 14s ease-in-out infinite;
}

.animate-drift2 {
  animation: drift2 16s ease-in-out infinite;
}


@keyframes fadeSlideUp {
  from { opacity: 0; transform: translateY(24px); }
  to { opacity: 1; transform: translateY(0); }
}

.animate-fade-up {
  animation: fadeSlideUp 0.8s ease-out both;
}

.delay-1 { animation-delay: 0.15s; }
.delay-2 { animation-delay: 0.35s; }
.delay-3 { animation-delay: 0.55s; }